
<mat-form-field>
    <mat-label>Search: </mat-label>
    <input  matInput [(ngModel)]="searchFood" placeholder="Search your food">
</mat-form-field>
<button class='margins' mat-raised-button color="primary" (click)='formVisible()'>{{buttonAdd}}</button>

<form #formulario = 'ngForm' [hidden]='hideAddFood' (ngSubmit) = dataHandle(nombre.value,calories.value)>
  <h3>Add new Food</h3>
  <mat-form-field>
    <mat-label for="productName">Nombre:</mat-label>
    <input matInput name="productName" placeholder="Introduce nombre" required minlength=4 #nombre>
    <mat-error *ngIf="nombre.invalid">
      <mat-error *ngIf="nombre.dirty || nombre.touched"><span>Error</span></mat-error>
   </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label for="productCalories">Calorias:</mat-label>
    <input matInput name="productCalories" placeholder="Introduce Calorias" required #calories>
  </mat-form-field>
  <button mat-icon-button color="primary" type="submit" #sendButton>
    <mat-icon>add</mat-icon>
  </button>
</form>


<div class="menu" *ngIf='menuDiario.length>0'>
  <h2>Menu Diario</h2>
  <mat-list id='scrollStyle'>
    <mat-list-item *ngFor='let item of menuDiario'>
      <p>{{item['name']}}</p>
      <p>X{{item['quantity']}}
        <button mat-icon-button (click)='deleteItem(item)'>
          <mat-icon>
            delete
          </mat-icon>
        </button>
      </p>
    </mat-list-item>
  </mat-list>
  <h3>Total Calories: {{totalCal}}</h3>
</div>


<ul>
	<li *ngFor="let food of foods | filter : 'name' : searchFood">
		<img [src]="food.image" style=" width:100px; height:auto">
    <p>{{food.name}}</p>
    <p>Calories: {{food.calories}}</p>
    <button mat-icon-button (click)='addtomenu(food)'>
      <mat-icon>
        add
      </mat-icon>
    </button>
	</li>
</ul>
